[Unit]
Description=Logger Service

[Service]
Type=simple
ExecStart=/usr/local/bin/logger
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
